@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("../images/pattern-bg.png");
  background-repeat: no-repeat;
  font-family: "Rubik", sans-serif;
}

@media screen and (min-width: 1150px) {
  body {
    background-size: contain;
  }
}

.App h1 {
  font-weight: 500;
  font-size: 25.5px;
  margin-top: 26px;
  margin-bottom: 28px;
  color: white;
  text-align: center;
}

@media screen and (min-width: 1150px) {
  .App h1 {
    font-size: 30px;
  }
}

.App .form {
  margin: 0 24px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 18.5;
}

.App .form form input {
  font-size: 18px;
  width: 269px;
  border-radius: 14px 0 0 14px;
  border: none;
  background-color: white;
  padding: 18px;
}

@media screen and (min-width: 1150px) {
  .App .form form input {
    width: 497px;
  }
}

.App .form form button {
  border-radius: 0 14px 14px 0;
  background-color: black;
  width: 58px;
  padding: 16px;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.App .ip__detail {
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  top: 0;
  left: 50%;
  width: 327px;
  height: 294px;
  z-index: 1;
  padding-top: 26px;
  position: absolute;
  border-radius: 14px;
  background-color: white;
  text-align: center;
}

@media screen and (min-width: 1150px) {
  .App .ip__detail {
    padding-top: 0;
    text-align: left;
    -webkit-transform: translate(-50%, 90%);
            transform: translate(-50%, 90%);
    width: 1110px;
    height: 161px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .App .ip__detail .ip_address {
    margin-left: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    border-right: 1px solid #969696;
  }
  .App .ip__detail .location {
    margin-left: 18px;
    border-right: 1px solid #969696;
    width: 100%;
  }
  .App .ip__detail .timezone {
    margin-left: 18px;
    border-right: 1px solid #969696;
    width: 100%;
  }
  .App .ip__detail .isp {
    margin-left: 18px;
    width: 100%;
  }
}

.App .ip__detail p {
  color: #969696;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1150px) {
  .App .ip__detail p {
    margin-bottom: 14px;
    font-size: 12px;
  }
}

.App .ip__detail h2 {
  font-weight: 500;
  color: #2b2b2b;
  font-size: 19px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1150px) {
  .App .ip__detail h2 {
    padding-bottom: 0px;
    font-size: 24px;
  }
}

.App .leaflet-top {
  display: none;
}

.App .leaflet-control-attribution {
  display: none;
}

.App .map {
  margin-top: 100px;
}

@media screen and (min-width: 1150px) {
  .App .map {
    margin-top: 102px;
  }
}

.App .map .leaflet-container {
  z-index: 0;
  height: 75vh;
  width: 100%;
}
/*# sourceMappingURL=index.css.map */